.bg-img {
	min-height: 100vh;
	max-height: fit-content;
	min-width: 100vw;
	max-width: fit-content;
}

.list-player-component {
	position: absolute;
	right: 5%;
	top: 10%;
	height: 70%;
	width: 55%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.8);
	border: 3px double white;
	border-radius: 20px;
	padding: 30px;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	box-shadow: 1px 2px 10px #141414;
}

.player-component {
	position: absolute;
	height: 80%;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: rgba(0, 0, 0, 0.8);
	border: 3px double white;
	border-radius: 20px;
	padding: 30px;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	box-shadow: 1px 2px 10px #141414;
}

.player-component > h2 {
	margin-top: 40px;
	font-size: 32px;
}

.player-component > p {
	margin-top: 0px;
	font-size: 20px;
}

.music-icon {
	margin-top: 10px;
	border-radius: 180px;
}

.timer {
	margin: auto;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 12px;
}

.progress-bar {
	background-color: white;
	height: 10px;
	width: 70%;
	border-radius: 20px;
	background-clip: content-box;
}

.controls {
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 12px;
}

i {
	color: white;
	font-size: 24px;
}

.list-component {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #141414;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	height: 100%;
	overflow-y: scroll;
}

.song-component {
	display: flex;
	gap: 20px;
	padding: 5px 10px;
	width: 30vw;
	margin: 10px 5px;
	text-align: left;
}

.song-component:hover {
	border-radius: 20px;
	box-shadow: 1px -2px 10px rgb(54, 54, 54);
	cursor: pointer;
}

.active {
	border-radius: 20px;
	box-shadow: 1px -2px 10px rgb(54, 54, 54);
}

.img-icon {
	height: 100px;
}

.icon {
	color: rgba(255, 255, 255, 0.6);
}

.activeIcon {
	color: rgba(255, 255, 255, 1);
}
